
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
.logotitle
{
    display: flex;
    flex-direction: column;
}
#papalogo
{
    width: 85%;
margin-top: 120px;
margin-left: 210px;
   
    z-index: 100;
    position: absolute;
    
}

#map{
    width: 100%;
    
    height: 100%;
}

#Sheading{ 
    
    font-size: 350%;
    overflow: hidden;
    z-index: 100;
    top: 22%;
    left: 6%;
    position: absolute;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    
    }

    .gradient-text {
        background-color: red;
        background-image: linear-gradient(103deg, rgba(205,226,201,1) 0%, rgba(246,211,211,1) 50%, rgba(182,188,191,1) 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
      
/*search bar*/
*
{
    outline: none;
}
img
{
    width: 10%;
}

.searchBox {
    position: absolute;
    z-index: 100;
    top: 28%;
    left: 18%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 240px;   
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
 
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b4bbc5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
/*--------------*/
#store-list
{
    width: 26%;
    height: 275px;
    z-index: 100;
    border-radius: 10px;
    overflow-y: scroll;
  
    background: rgb(47,54,64,0.9);
    
    position: absolute;
    top: 43%;
    left: 5%;
    overflow-x: hidden;
}

#store-list::-webkit-scrollbar {
    
    width: .8em;
    
}
 
#store-list::-webkit-scrollbar-track {
    border-radius:    5px  30px   30px 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   
}
 
#store-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius:    5px  20px   20px 5px;
}

.store-container
{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.store-container:hover
{
    background-color: red;
    background-image: linear-gradient(103deg, rgba(205,226,201,1) 0%, rgba(246,211,211,1) 50%, rgba(182,188,191,1) 100%);
        border-radius: 7px;
}
.store-container img
{
    
    padding: 10px;

    width: 60px;
}
.store-container  div
{
    text-align: center;

}

#address
{   
    padding: 10px;
    font-size: 18px;
    margin-right: 3%;
    text-align: left;
    font-weight: bolder;
}

#phone
{
    font-size: 15px;
    color: grey;
}
#storenum
{
    text-decoration: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
    background-color: grey;
    border-radius: 100%;
    
}
#index
{
   margin-left: 5%;
}

.googleMapBox 
{
    
    border-radius: 10px;
    z-index: 10001;
    background: rgb(47,54,64,0.9);

}
.googleMapBox div{
    text-align: center;
    padding: 5px;
    color: black;

}
.googleMapBox .phaddress{
    display: flex;
    flex-direction: row;
}
.googleMapBox .phaddress img
{
    padding: 5px;

    width: 20px;
}
.googleMapBox .button
{
    width: 95%;
    

}
.googleMapBox .button a
 {
   font-weight: bold;
   font-size: 15px;

    color: #b4bbc5;
}
.gm-style-iw
{
    position: absolute;
    z-index: 999;
}
.gm-style-iw div :hover 
{
    background-color: red;
    background-image: linear-gradient(103deg, rgba(205,226,201,1) 0%, rgba(246,211,211,1) 50%, rgba(182,188,191,1) 100%);
    border-radius: 10px;
    
}
.gm-style-iw div :hover a
{
    color: #2f3640;
}